@media screen and (max-width: 767px) {
  .responsive .av-layout-grid-container.av-erc-flip-cells.av-erc-fullwidth,
  .responsive .av-layout-grid-container.av-erc-flip-cells.av-erc-content-width .entry-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .av-erc-flip-cells.av-erc-fullwidth>.flex_cell,
  .av-erc-flip-cells.av-erc-content-width .entry-content-wrapper > .flex_column {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .av-erc-flip-cells.av-erc-fullwidth>.flex_cell.avia-builder-el-last,
  .av-erc-flip-cells.av-erc-content-width .entry-content-wrapper >.flex_column.avia-builder-el-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media screen and (max-width: 989px) {
  .responsive .av-layout-grid-container.av-erc-flip-cells.av-break-at-tablet.av-erc-fullwidth,
  .responsive .av-layout-grid-container.av-erc-flip-cells.av-break-at-tablet.av-erc-content-width .entry-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .av-erc-flip-cells.av-break-at-tablet.av-erc-fullwidth>.flex_cell,
  .av-erc-flip-cells.av-break-at-tablet.av-erc-content-width .entry-content-wrapper >.flex_column {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .av-erc-flip-cells.av-break-at-tablet.av-erc-fullwidth>.flex_cell.avia-builder-el-last,
  .av-erc-flip-cells.av-break-at-tablet.av-erc-content-width .entry-content-wrapper >.flex_column.avia-builder-el-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}